@import "../../global/style/MMStyle";

$boxWidth: 550px;
$boxHeight: 80%;
$subHeaderHeight: 50px;
$itemHeight: 100px;
$buttonWidth: 45%;
$buttonDivWidth: 100%;

main {
  width: 100%;
  height: 100%;
  padding-top: $headerHeight;

  @include transition(0.6s);
  @include flexBox(column, center);

  section{
    width: 100%;
    height: calc(#{100vh} - #{$headerHeight});
    box-shadow: $boxShadow;
    position: relative;

    @include transition(0.6s);

    h2 {
      width: 100%;
      text-align: center;
    }

    article.header{
      width: $boxWidth;
      height: $subHeaderHeight;
      z-index: 50;
      left: calc(50% - (#{$boxWidth} / 2));
      position: fixed;

      color: $white;
      background-color: $dodgerBlue;
    }

    article.body{
      width: 100%;
      height: calc(100% - #{$subHeaderHeight});
      margin-top: $subHeaderHeight;
    }

  }
}


main section article.body div{
  width: 100%;
  height: $itemHeight;
  padding: $defaultPadding;
  @include flexBox(column,space-between);

  h3{
    width: calc(100% - (#{$buttonDivWidth} + #{s$smallPadding}));
    text-align: left;
  }

  div{
    width: $buttonDivWidth;
    padding: 0;
    flex-flow: row;
    button{
      @extend %buttons;
      width: $buttonWidth;
    }
  }

  &:not(:nth-last-child(1)){
    border-bottom: 1px solid $pinkishGrey;
  }
}

@media all and (min-width: $tablet){
  $itemHeight: 50px;
  $buttonWidth: 80px;
  $buttonDivWidth: calc((#{$buttonWidth} * 2) + #{$smallPadding});

  main{
    padding-top: $headerHeight;
    section {
      width: $boxWidth;
      height: $boxHeight;
    }
  }

  main section article.body div{
    height: $itemHeight;
    flex-flow: row;
    div{
      width: $buttonDivWidth;
    }
  }
}