<main>
    <section >
        <article class="header">
            <h2>Group invites</h2>
        </article>

        <article class="body" *ngIf="groups">
            <div *ngFor="let group of groups">
                <h3>{{group.name | truncate: 25}}</h3>
                <div>
                    <button (click)="acceptInvite(group._id)">accept</button>
                    <button (click)="declineInvite(group._id)">decline</button>
                </div>
            </div>
        </article>

        <article class="noGroups" *ngIf="!groups || groups.length === 0">
            <p>you have no invitation</p>
            <a (click)="inviteFriends()" title="to get more invite">invite friends to Meet me</a>
        </article>
    </section>


</main>