@import "../../global/style/MMStyle";

$headerHeight: 30px;
$cellSize: 100px;
$imgSize: 50px;
$checkBoxSize: 10px;
$submitButtonHeight: 50px;

main{
  @include squareSize(100%);
  padding-top: $headerHeight;

  header,form{
    width: 100%;
    padding: $headerHeight;
  }

  header{
    height: $headerHeight;
    background-color: $lightGray;
  }

  section{
    @include flexBox(column,flex-start);

    p{
      width: 100%;
      margin-bottom: $defaultPadding;
      text-align: left;
    }

    &:nth-child(2){
      align-items: flex-start;
    }

    &:nth-last-child(1){
      align-items: flex-end;
    }

    input[type=submit]{
      @extend %buttons;
    }
  }

}

main section article{
  @include flexBox(row,space-between);

  figure{
    @include squareSize($imgSize);
    img{
      @extend %userImage;
    }
  }

  h3{
    width: 70%;
  }

  input[type=checkbox]{
    @include squareSize($checkBoxSize);
  }
}
