<main>
    <section>
        <article class="header">
            <h2>Start event</h2>
        </article>
        <form>
            <article>
                <h3>Select friends</h3>
                <div>
                    <figure>
                        <img src="https://static.pexels.com/photos/355164/pexels-photo-355164.jpeg" alt="" />
                    </figure>
                    <p>
                        user name
                    </p>
                    <input type="checkbox"/>
                </div>
            </article>

            <article>
                <h3>Invite friends to MeetMe</h3>
                <div>
                    <input type="submit" value="Facebook"/>
                </div>
            </article>
            <article>
                <input type="submit" value="Create event"/>
            </article>
        </form>
    </section>
</main>