<main>
    <header>
        <h2>Start event</h2>
    </header>
    <form>
        <section>
            <p>Select friends</p>
            <article>
                <figure>
                    <img src="https://static.pexels.com/photos/355164/pexels-photo-355164.jpeg" alt="" />
                </figure>
                <h3>
                    user name
                </h3>
                <input type="checkbox"/>
            </article>
        </section>
        <section>
            <p>Invite friends to MeetMe</p>
            <article>
                <input type="submit" value="Create event"/>
            </article>
        </section>
        <section>
            <input type="submit" value="Create event"/>
        </section>
    </form>
</main>