<main>
    <section>
        <article class="header">
            <h2>Start event</h2>
        </article>
        <form #groupForm="ngForm" novalidate (submit)="createGroup()">
            <article>
                <h3>Select friends</h3>
                <div *ngFor="let user of users">
                    <figure>
                        <img [src]="user.photoUrl" [alt]="user.name" />
                    </figure>
                    <label for="checkBox_{{user.id}}">
                        {{user.name}}
                    </label>
                    <input type="checkbox" id="checkBox_{{user.id}}" (change)="changedSelectState(user.id)"/>
                </div>
            </article>

            <article>
                <h3>Invite friends to MeetMe</h3>
                <div>
                    <button>Share</button>
                </div>
            </article>
            <article>
                <input type="submit" value="Create event" [disabled]="selectedUsers !== null && selectedUsers.length > 0" />
            </article>
        </form>
    </section>
</main>