@import "../../global/style/MMStyle";

$logoWidth:100px;
$linksBoxWidth: 200px;
$iconSize: 25px;
$userLogoSize: 40px;
$maxUsernameWidth:100px;

header, article {
  @include flexBox(row, space-between);
}

header {
  width: 100%;
  height: $headerHeight;
  padding: $defaultPadding;
  background-color: $headerColor;
  position: fixed;

  article {
    justify-content: space-around;


    &:nth-child(1) figure{
      width: $logoWidth;
      img{
        @extend %userImage;
      }
    }

    div{
      width: $linksBoxWidth;
      height: 100%;

      @include flexBox(row,space-around);

      a{
        @extend %links;
      }
    }
  }

  article:nth-child(2){

    img:nth-child(1), div img{
      @include squareSize($iconSize);
    }

    figure:nth-child(2){
      @include squareSize($userLogoSize);
      img{
        @extend %userImage;
      }
    }

    div{
      max-width: $maxUsernameWidth;
      @include flexBox(row,space-between);

    }
  }
}