@import "../../global/style/MMStyle";

$logoHeight: 100%;

header, article {
  @include flexBox(row, space-between);
}

header {
  width: 100%;
  height: $headerHeight;
  padding: $defaultPadding;
  background-color: $dodgerBlue;
  position: fixed;

  figure, &:nth-child(1) figure a, &:nth-child(1) figure a img {
    height: $logoHeight;

  }
}