<header>
    <article>
        <figure>
            <a routerLink="/">
                <img src="" alt="" />
            </a>
        </figure>
        <div>
            <a routerLink="dashboard/">Groups</a>
            <a routerLink="dashboard/create">Start event</a>
        </div>
    </article>
    <article>
        <img src="" alt="" />
        <figure>
            <img src="" alt="" />
        </figure>
        <div>
            <p>user name</p>
            <img src="" alt="" />
        </div>
    </article>
</header>