<main>
    <section>
        <article>
            <figure>
                <img src="" alt="" />
            </figure>
            <div class="container">
                <div class="userInfo">
                    <p></p>
                    <time></time>
                </div>
                <div class="content">
                    <p></p>
                </div>
            </div>
        </article>
    </section>
    <section>
        <form>
            <input type="text" />
            <input type="submit" />
        </form>
    </section>
</main>