@import "../../../global/style/MMStyle";

$imgSize: 40px;
$userNameWidth: 100px;
$inputBoxHeight:50px;
$submitSize: 50px;

main{
  @include squareSize(100%);

  section, section form {
    width: 100%;
    padding: $defaultPadding;
  }

  section{
    &:nth-child(1){
      height: calc(100% - #{$inputBoxHeight});
      border-left: 1px solid $lightGray;
      border-right: 1px solid $lightGray;

      @include flexBox(column,flex-start);
      align-items: flex-start;
    }

    &:nth-child(2){
      height: $inputBoxHeight;
      background-color: $lightGray;
      @include flexBox(row,space-between);
    }
  }
}

section:nth-child(1) article{
  max-width: 60%;
  @include flexBox(row,flex-start);
  align-items: flex-start;

  &:not(:nth-last-child(1)){
    margin-bottom: $defaultPadding;
  }

  &.me{
    align-self: flex-end;

    figure,.container .userInfo{
      display: none;
    }
  }

  figure{
    @include squareSize($imgSize);

    img{
      @extend %userImage;
      @include squareSize($imgSize);
    }
  }

  .container{
    margin-left: $defaultPadding;
    @include flexBox(column,flex-start);
    align-items: flex-start;

    .userInfo{
      width: $userNameWidth;
      @include flexBox(row,space-between);
    }

    .content{
      background-color: $lightGray;
      border-radius: $defaultBorderRadius;
    }
  }
}

main section:nth-child(2) form{

  input[type=text]{
    @extend %input;
    width: calc(100% - #{$submitSize} - #{$defaultPadding});
  }

  input[type=submit]{
    @extend %buttons;
    @include squareSize($submitSize);
  }
}
