@import "../../../global/style/MMStyle";

$imgSize: 40px;
$userNameWidth: 100px;
$inputBoxHeight: 50px;
$submitSize: 50px;

main {
  width: 100%;
  height: 100%;
  position: relative;
  @include squareSize(100%);

  section {
    width: 100%;

    &:nth-child(1) {
      height: calc(100% - #{$inputBoxHeight});
      padding: $defaultPadding;
      border-left: 1px solid $lightGray;
      border-right: 1px solid $lightGray;

      overflow-y: auto;
    }

    &:nth-child(2) {
      width: 100%;
      height: $inputBoxHeight;
      padding: $smallPadding;
      background-color: $lightBlue;
    }
  }
}

main section:nth-child(2) form {
  width: 100%;
  height: 100%;
  @include flexBox(row, space-between);

  input[type=text] {
    @extend %input;
    width: calc(100% - #{$submitSize});
    height: 100%;
  }

  input[type=submit] {
    @extend %buttons;
    @include squareSize($submitSize);
  }

}