<main>
    <form #activityForm="ngForm" (ngSubmit)="saveActivity()">
        <section>

            <article>
                <h2>Enter an activity</h2>
                <input placeholder="bowling" name="activityName"  [(ngModel)]="activityName" required minlength="3" />
                <div></div>
            </article>
            <article>
                <button type="button" (click)="closePopUp()">cancel</button>
                <button type="submit" [disabled]="activityForm.invalid">add</button>
            </article>

        </section>
    </form>
</main>