@import "../../global/style/MMStyle";

main {
  width: 100%;
  height: 100%;
  padding-top: $headerHeight;
  @include flexBox(row, flex-start);

  group-list-component, section {
    height: 100%;
    overflow: scroll;
  }

  chat-component, group-detail-component {
    height: calc(100% - 50px);
    overflow: scroll;
  }

  group-list-component {
    width: 20%;
  }

  section {
    width: 80%;
    @include flexBox(row, flex-start);
    flex-wrap: wrap;

    chat-header-component {
      width: 100%;
      height: 50px;
    }

    chat-component ,group-detail-component {
      width: 50%;
    }
  }
}