<navigation-component></navigation-component>
<main>
    <section>
        <article>
        </article>
        <article>
            <figure>
                <img src="../../../assets/png/meetMeLogoWhite@2x.png" alt="Meet Me logo" title="Meet Me logo"/>
            </figure>
            <h1>Never be bored again</h1>
        </article>

        <article>
            <figure>
                <a href="https://play.google.com/store/apps/details?id=nmct.howest.be.meetme" title="download app">
                    <img src="../../../assets/png/fdaqarugfkntdpkkrsfr.png" alt="google play store icon" title="download on the play store"/>
                </a>
            </figure>
            <a href="" title="login in to the website">Use website</a>
        </article>
    </section>
    <section>
        <header>
            <h1>How it works</h1>
        </header>
        <article>
            <h2>Bored at home</h2>
            <p>You are bored at home on a friday night and have nothing to do. You don’t know what to do but you’re
                eager to go out.
                Calling all your friends sound like a hassle so you fire up this new amazing app MeetMe</p>
            <figure>
                <img src="../../../assets/png/layer3@2x.png" alt="Guy in sofa watching tv" title="Bored at home"/>
            </figure>

        </article>
        <article>
            <h2>Send invites</h2>
            <p>Send out invites to the friends you want in a few simple clicks.
                They get instantly notified that you are searching for something to do.</p>
            <figure>
                <img src="../../../assets/jpg/microphone.jpg" alt="Guy shouting throug microphone" title="invite friends"/>
            </figure>
        </article>
        <article>
            <h2>Await responses</h2>
            <p>Your word is out! Now you simply have to wait on your friends responding to your request. Your evening is
                starting to look good already.</p>
            <figure>
                <img src="../../../assets/png/layer5@2x.png" alt="Woman watching her phone" title="chat with them"/>
            </figure>
        </article>
    </section>
    <section>
        <header>
            <h1>Plan together</h1>
        </header>
        <article>
            <h2>Select a timeslot</h2>
            <figure>
                <img src="../../../assets/png/clock7Xxl.png" alt="clock: time is set to 10:15" title="pick a time to meet up"/>
            </figure>
            <p>Timing is a tricky thing. Vote on when to meet and it brings you one step closer to deciding when to
                meet.</p>
        </article>
        <article>
            <h2>Select an activity</h2>
            <figure>
                <img src="../../../assets/png/rectangle1.png" alt="2 checkboxes" title="choose between activities"/>
            </figure>
            <p>Choosing what to do is a key part of planning. We make it easy for you with a voting system so you can
                find something that works for most of you.</p>
        </article>
    </section>
    <section>
        <article>

        </article>
        <article>
            <h1>Go Have fun</h1>
            <h3>Start living the life you deserve using MeetMe</h3>
        </article>
        <article>
            <a href="https://play.google.com/store/apps/details?id=nmct.howest.be.meetme" title="download app">
                Try now
            </a>
        </article>
    </section>
</main>