<main>
    <time *ngIf='showTime'>{{message.dateSent | date:'hh:mm dd/MM/yyyy'}}</time>

    <section [ngClass]="{'me': message.senderId == myUser._id}">
        <figure>
            <img [src]="getUserById(message.senderId).photoUrl" [alt]="getUserById(message.senderId).name" />
        </figure>
        <article>
            <div>
                <p>{{getUserById(message.senderId).name}}</p>
            </div>
            <div class="content" >
                <p>{{message.message}}</p>
            </div>
        </article>
    </section>
</main>