<main>
    <section>
        <h2>title</h2>
        <article>
            <div>
                <figure>
                    <img src="" alt=""/>
                </figure>
            </div>
        </article>
    </section>

    <section>
        <h2>title</h2>
        <article>
            <div>
                <h3>time</h3>
                <p>vote</p>
            </div>
            <div>
                <p>Add</p>
            </div>
        </article>

    </section>

    <section>
        <h2>title</h2>
        <article>
            <div>
                <h3>activity</h3>
                <p>vote</p>
            </div>
            <div>
                <p>Add</p>
            </div>
        </article>
    </section>
</main>