<main>
    <section>
        <h2>Users</h2>
        <article>
            <div *ngFor="let user of group.users">
                <figure>
                    <img [src]="user.photoUrl" [alt]="user.name" />
                </figure>
            </div>
        </article>
    </section>

    <section>
        <h2>Time slots</h2>
        <article>
            <div *ngFor="let timeSlot of group.timeSlot" (click)='voteTimeslot(timeSlot)'>
                <h3>{{timeSlot.time | date:'hh:mm'}}</h3>
                <p>{{timeSlot.votes.length}}</p>
            </div>
            <div (click)='openTime()'>
                <button >Add</button>
            </div>
        </article>

    </section>

    <section>
        <h2>Activities</h2>
        <article>
            <div *ngFor="let activity of group.activity" (click)='voteActivity(activity)'>
                <h3>{{activity.name}}</h3>
                <p>{{activity.votes.length}}</p>
            </div>

            <div (click)='openActivity()'>
                <button >Add</button>
            </div>
        </article>
    </section>

    <timer-picker-component (close)="closeTime()" [ngClass]="{'active':showTime}"></timer-picker-component>
    <activity-picker-component (close)="closeActivity()" (activity)="newActivity($event)" [ngClass]="{'active':showActivity}"></activity-picker-component>
</main>