<main>
    <section>
        <h2>Users</h2>
        <article>
            <div *ngFor="let user of group.users">
                <figure>
                    <img [src]="user.image" [alt]="user.name" />
                </figure>
            </div>
            <div>
                <button>Add</button>
            </div>
        </article>
    </section>

    <section>
        <h2>Time slots</h2>
        <article>
            <div *ngFor="let timeSlot of group.timeSlots">
                <h3>{{timeSlot.timeSlot}}</h3>
                <p>{{timeSlot.votes.length}}</p>
            </div>
            <div>
                <button>Add</button>
            </div>
        </article>

    </section>

    <section>
        <h2>Activities</h2>
        <article>
            <div *ngFor="let activity of group.activities">
                <h3>{{activity.name}}</h3>
                <p>{{activity.votes}}</p>
            </div>
            <div>
                <button>Add</button>
            </div>
        </article>
    </section>
</main>