<main>
    <section *ngFor="let group of groups" (click)='groupClicked.emit(group)'>
        <article>
            <h3>{{group.name}}</h3>
        </article>
        <article>
            <figure *ngFor="let user of group.users">
            <img [src]="user.photoUrl" [alt]="user.name" />
            </figure>
        </article>
    </section>
    <section class="noGroups" *ngIf="!groups || groups.length === 0">
        <p>no groups found</p>
        <a routerLink="/dashboard/create">go group a group</a>
    </section>
</main>
