@import "../../../global/style/MMStyle";

$headerHeight: 50px;
$iconSize: 30px;

header{
  width: 100%;
  height: $headerHeight;
  padding: $defaultPadding;
  background-color: $lightBlue;
  @include flexBox(row,space-between);

  h3{
    color: $white;
  }

  figure{
    @include squareSize($iconSize);

    cursor: pointer;

    img{
      height: 100%;
    }
  }
}