<header>
    <figure *ngIf="windowSize < 700" (click)="goBackToGroups()">
        <img src="https://png.icons8.com/ios/50/ffffff/back-filled.png" alt="back to groups" />
    </figure>
    <h3 *ngIf="!isChangeName">{{group.name | truncate}}</h3>
    <input #changeNameInput type="text" value="{{group.name}}" *ngIf="isChangeName" [(ngModel)]="newName" (keydown.enter)="saveName()" />
    <button (click)="saveName()" *ngIf="isChangeName">save</button>
    <figure id="MoreOptions" (click)="showDropDown()">
        <img src="../../../../assets/png/optionMore.png" alt="more options" title="more options"/>
    </figure>


    <section *ngIf="isDropped" id="DropDown" (clickOutside)="onClickedOutside($event)" [exclude]="['#MoreOptions']">
        <article>
            <p (click)="changeName(changeNameInput)"> change name</p>
        </article>
    </section>
</header>
