<!--<main>
    <section>
        <article>
            <a routerLink="/dashboard" routerLinkActive="active">Groups</a>
            <a routerLink="/dashboard/create" routerLinkActive="active">Start event</a>
        </article>
    </section>
    <section>
        <figure>
            <a routerLink="/dashboard/invite">
                <img src="https://png.icons8.com/android/50/ffffff/appointment-reminders.png" alt="notifications" />
                <figcaption *ngIf="notifications">
                    <p>{{notifications}}</p>
                </figcaption>
            </a>
        </figure>
        <article *ngIf="user">
            <figure >
                <img [src]="user.photoUrl" alt="{{user.name}}" />
            </figure>
            <p>{{user.name}}</p>
            <figure>
                <img src="https://png.icons8.com/android/50/ffffff/expand-arrow.png" alt="drop down arrow" />
            </figure>
        </article>
    </section>
</main>-->