<main>
    <section>
        <article>
            <a routerLink="/dashboard/group" routerLinkActive="active">Groups</a>
            <a routerLink="/dashboard/create" routerLinkActive="active">Start event</a>
        </article>
    </section>
    <section>
        <figure>
            <a routerLink="/dashboard/invite">
                <img src="https://png.icons8.com/android/50/ffffff/appointment-reminders.png" alt="notifications"/>
                <figcaption *ngIf="notifications">
                    <p>{{notifications}}</p>
                </figcaption>
            </a>
        </figure>

        <article *ngIf="user" id="UserInfo" (click)="toggleDropDown()">
            <figure>
                <img [src]="user.photoUrl" alt="{{user.name}}"/>
            </figure>
            <p>{{user.name}}</p>
            <figure>
                <img src="https://png.icons8.com/android/50/ffffff/expand-arrow.png" alt="drop down arrow"/>
            </figure>
        </article>
    </section>

    <section (clickOutside)="onClickedOutside($event)" [ngClass]="{'active': showDropDown}" [exclude]="'#UserInfo'">
        <article>
            <a routerLink="/dashboard/invite">notification</a>
            <a (click)="inviteFriends()">Invite friends</a>
            <a (click)="logOut()">Log out</a>
        </article>
    </section>
</main>
